* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Verdana, Helvetica, sans-serif !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", Arial, Verdana, Helvetica, sans-serif;
  background: #ffffff;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}
